@import url("https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap");
* {
  margin: 0 auto;
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  font-family: 'PT Sans', sans-serif;
}

header {
  background-color: #111111;
  padding: 12px 0 12px 0;
}

header .Header_Content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

header .Header_Content .Header_Nav {
  margin-right: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .Header_Content .Header_Nav .menu ul {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 36px;
}

header .Header_Content .Header_Nav .menu ul li a {
  position: relative;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  color: white;
  text-decoration: none;
  -webkit-transition: all 300ms ease-in;
  transition: all 300ms ease-in;
}

header .Header_Content .Header_Nav .menu ul li a:hover {
  color: red;
}

header .Header_Content .Header_Nav .menu ul li a::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 0;
  height: 2.5px;
  background-color: white;
}

header .Header_Content .Header_Nav .menu ul li a:hover:before {
  width: 100%;
}

header .Header_Content .Header_Nav .menu ul li a::before {
  -webkit-transition: width 0.35s;
  transition: width 0.35s;
}


.awards_container {
  background-color: #000000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-position-x: 50%;
  background-repeat: no-repeat;
  background-image: url("../img/image 20.png");
}

.awards_container .awards_content {
  text-align: center;
}

.awards_container .awards_content .awards_label {
  margin-bottom: 32px;
}

.awards_container .awards_content .awards_label h1 {
  color: white;
  font-style: normal;
  font-weight: 700;
  line-height: 54px;
  margin: 32px;
}

.awards_container .awards_content .awards_underText {
  margin-bottom: 150px;
}

.awards_container .awards_content .awards_underText span {
  color: white;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 40px;
}
.awards_container .awards_content .awards_undText{
    margin-bottom: 15px;
}

.awards_container .awards_content .awards_undText span {
    color: white;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 40px;
  }

.awards_container .awards_content .awards_cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1200px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 26px;
  margin-bottom: 144px;
}

.awards_container .awards_content .awards_cards .awards_card {
  padding: 33px 60px 33px 60px;
  background-color: rgba(255, 255, 255, 0.087);
  border-radius: 10px;
}

.awards_container .awards_content .awards_cards .awards_card .Card_Text {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 23px;
  color: rgba(255, 255, 255, 0.87);
  display: block;
  width: 200px;
  margin-bottom: 10px;
}

.awards_container .awards_content .awards_cards .awards_card .Card_Date {
  color: rgba(211, 199, 181, 0.87);
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
}

.awards_container .awards_content .award_photo {
    margin-top: 150px;
    margin-bottom: 15px;

  }

.awards_container .awards_content .award_photo img {
    width: 100%;
    height: auto;}



footer .footer_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer .footer_content .footer_label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  background-color: #2D75B6;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .footer_content .footer_label .footer_submit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

footer .footer_content .footer_label .footer_submit span {
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
  color: #FFFFFF;
}

footer .footer_content .footer_label .footer_submit a {
  text-align: center;
  width: 103px;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 22px;
  color: #205F8A;
  text-decoration: none;
  padding: 5px 43px 5px 43px;
  background-color: #FFFFFF;
  border-radius: 25px;
  -webkit-transition: all 300ms ease-in;
  transition: all 300ms ease-in;
}

footer .footer_content .footer_label .footer_submit a:hover {
  background-color: orange;
  color: white;
  scale: 1.09;
}

footer .footer_content .footer_form {
  background-color: #1C1C1C;
  padding-bottom: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

footer .footer_content .footer_form .form_Text {
  margin-top: 44px;
  margin-bottom: 45px;
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
  color: #D3C7B5;
}

footer .footer_content .footer_form .inp_btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .footer_content .footer_form .inp_btn input {
  border-radius: 22px;
  background: none;
  border: 1px solid #D3C7B5;
  height: 48px;
  padding-left: 26px;
  color: #D3C7B5;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
}

footer .footer_content .footer_form .inp_btn button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  right: 65px;
  background-color: #2D75B6;
  border-radius: 0px 21px 21px 0px;
  border: none;
  width: 64px;
  height: 50px;
  -webkit-transition: all 300ms ease-in;
  transition: all 300ms ease-in;
}

footer .footer_content .footer_form .inp_btn button .arrow {
  border: solid white;
  border-width: 0 5px 5px 0;
  display: inline-block;
  padding: 5px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

footer .footer_content .footer_form .inp_btn button:hover {
  background-color: white;
}

footer .footer_content .footer_form .inp_btn button:hover .arrow {
  border: solid #2D75B6;
  border-width: 0 5px 5px 0;
  display: inline-block;
  padding: 5px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

@media screen and (min-width: 1171px) {
  .footer_form {
    width: 60%;
  }
}

@media screen and (max-width: 1170px) {
  .footer_content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer_form {
    width: 100%;
  }
}

@media screen and (min-width: 605px) {
  .Hamburger {
    display: none;
  }
  .awards_container .awards_content .award_photo img {
    max-width: 70%;
}

  .Header_Logo {
    margin-left: 24px;
  }
  .footer_submit {
    margin: 44px 0 64px auto;
  }
  .footer_submit a {
    margin: 54px auto 0 0;
  }
  .form_Text {
    width: 444px;
  }
  .form_Text, .inp_btn {
    margin-left: 70px;
  }
  input {
    width: 400px;
  }
  .awards_label {
    width: 530px;
  }
  .awards_underText {
    width: 630px;
  }
}

@media screen and (max-width: 605px) {
  .footer_label {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer_submit {
    text-align: center;
  }
  .footer_submit a {
    margin: 25px;
  }
  .form_Text, .inp_btn {
    text-align: center;
  }
  .menu {
    position: absolute;
    top: 75px;
    z-index: 1000;
    right: auto;
  }
  .menu ul {
    width: 100px;
    right: 100px;
    position: relative;
    padding: 25px;
    background-color: #000000;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
/*# sourceMappingURL=style.css.map */